:root {
  --color-yellow: #f7d02c;
  --color-blue: #3b4cca;
  --color-blue-lighter: #3d7dca;
  --color-red-light: #ff0000;
  /* Pokémon type colors */
  --normal: #a8a77a;
  --fire: #ee8130;
  --water: #6390f0;
  --electric: #f7d02c;
  --grass: #7ac74c;
  --ice: #96d9d6;
  --fighting: #c22e28;
  --poison: #a33ea1;
  --ground: #e2bf65;
  --flying: #a98ff3;
  --psychic: #f95587;
  --bug: #a6b91a;
  --rock: #b6a136;
  --ghost: #735797;
  --dragon: #6f35fc;
  --dark: #705746;
  --steel: #b7b7ce;
  --fairy: #d685ad;

  /* Text */
  --text-pokemon: "Pokemon Solid";
  --text-arcade: "Arcade Normal";
  --text-quantifier: "Quantifier NBP";
  --text-fugaz: "Fugaz One";
}

/* Reset basic styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */

body {
  background-color: #000;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h3 {
  color: #000;
}

label {
  color: #000;
  font-size: 1.5rem; /* Scaled down */
}

.secondary-text {
  font-size: 2rem; /* Scaled down */
}

/* Title screen container */
/* .title-screen:nth-child(1) {
  gap: 20px;
} */
.title-screen {
  transform: translateY(-200px);
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  background-color: #000;
  margin-bottom: 2rem;
}

.title__img-container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.title__img {
  max-width: 250px;
}
.pokeball {
  max-height: 70px;
}

/* Heading styled to look like Pokémon logo font */
.title-screen__heading {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-yellow);
  text-shadow: 4px 4px 0px var(--color-blue);
  font-family: var(--text-arcade), sans-serif;
  /* font-family: "Arcade Interlaced", sans-serif; */
  /* font-family: "Arcade Rounded", sans-serif; */

  margin-bottom: 1.5rem;
}

@media (max-width: 1000px) {
  .title-screen__heading {
    max-width: 90%; /* Control the maximum width to avoid edges */
    margin: 0 auto; /* Center the heading */
    font-size: 2rem;
  }
  .pokeball {
    /* display: none; */
    max-width: 50px;
  }
  .logo {
    max-width: 200px;
  }
}

/* Deck */

.hp__deck-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  padding: 0.5rem;
  gap: 1rem;
  background-color: #f0f4f7;
  border-radius: 0.6rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  padding: 20px; /* Add padding if necessary */

  margin-top: 2rem;
  transform: translateY(-200px);
}

.hp__deck-container::-webkit-scrollbar {
  display: none;
}

/* Start button styling */

.home-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.title-screen__btn-start {
  margin-top: 30px;
  display: inline-block;
  font-family: var(--text-arcade), sans-serif;
  /* font-family: "Karmatic Arcade", sans-serif; */
  padding: 0.8rem 2rem;
  background-color: var(--color-blue-lighter); /* Pokémon blue */
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 3px 0px #ffcb05;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
/* Hover and active states for the start button */
.title-screen__btn-start:hover {
  background-color: #316aa2;
  transform: translateY(-2px);
}

.title-screen__btn-start:active {
  background-color: #2b5d91;
  box-shadow: 0px 2px 0px #ffcb05;
  transform: translateY(0px);
}

/* Form */
/* Overall Window Styling */
.choose-pokemon-window {
  background-color: #f0f4f7;
  /* border: 5px solid var(--color-blue); */
  border-radius: 10px;
  padding: 40px 90px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

/* Heading Styling */
.form-heading {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-yellow);
  margin-bottom: 1rem; /* Space below the heading */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-family: var(--text-fugaz);
}

/* Button Grid */
.type-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
  row-gap: 1.2rem;
}

/* Button Styles */
.type-button {
  padding: 1rem; /* Reduced padding for better size */
  opacity: 1;
  border-radius: 10px; /* Rounded corners */
  height: 3rem;
  transition: all 0.3s ease;
  display: flex; /* Flexbox for centering */
  justify-content: center;
  align-items: center;
  position: relative; /* For pseudo-elements */
  /* font-family: var(--text-fugaz); */
}

/* Icon and Text Styles */
.icon {
  margin-right: 0.5rem; /* Space between icon and text */
  font-size: 1.5rem; /* Larger icon */
}

.btn-text {
  font-weight: 600;
  font-size: 1.2rem; /* Increased font size for readability */
  color: #fff; /* Button text color */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Hover Effects */
.type-button:hover {
  opacity: 0.8; /* Change opacity on hover */
  transform: scale(1.05); /* Slight scale effect */
  cursor: pointer; /* Change cursor to pointer */
  box-shadow: 0 0 15px var(--color-yellow); /* Glow effect */
}

/* Specific Colors for Each Type */
.type-button.normal {
  background-color: var(--normal);
}
.type-button.fire {
  background-color: var(--fire);
}
.type-button.water {
  background-color: var(--water);
}
.type-button.electric {
  background-color: var(--electric);
}
.type-button.grass {
  background-color: var(--grass);
}
.type-button.ice {
  background-color: var(--ice);
}
.type-button.fighting {
  background-color: var(--fighting);
}
.type-button.poison {
  background-color: var(--poison);
}
.type-button.ground {
  background-color: var(--ground);
}
.type-button.flying {
  background-color: var(--flying);
}
.type-button.psychic {
  background-color: var(--psychic);
}
.type-button.bug {
  background-color: var(--bug);
}
.type-button.rock {
  background-color: var(--rock);
}
.type-button.ghost {
  background-color: var(--ghost);
}
.type-button.dragon {
  background-color: var(--dragon);
}
.type-button.dark {
  background-color: var(--dark);
}
.type-button.steel {
  background-color: var(--steel);
}
.type-button.fairy {
  background-color: var(--fairy);
}

/* Card */

.hp__card-container {
  overflow-x: scroll;
  padding: 1rem;
  gap: 1.5rem;
  background-color: #f0f4f7;
  border-radius: 0.8rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px;

  margin-top: 3rem;
}
.hp__card-container::-webkit-scrollbar {
  display: none;
}

.hp__card-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
  /* grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); */
  gap: 10px;
}

@media (max-width: 1000px) {
  .hp__card-container {
    margin-top: 1rem; /* Reduced margin */
    overflow-y: auto; /* Allow vertical scrolling */
    max-height: 80vh; /* Control height */
    transform: scale(0.9);
    padding: 0.8rem;
  }

  .hp__card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    gap: 10px;
  }

  .hp__deck-container {
    margin-top: 1rem; /* Reduced margin */
    overflow-y: auto; /* Allow vertical scrolling */
    max-height: 80vh; /* Control height */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    gap: 4px;
    transform: scale(0.9);
    padding: 0.8rem;
  }
  .hp__card-item {
    list-style: none; /* Ensures no bullet point on individual items */
    transform: scale(0.9);
  }
  .hp__card {
    padding: 0.8rem;
  }
}

.hp__card-item {
  flex: 0 0 auto; /* Cards do not shrink, and their size is based on content */
  list-style: none; /* Ensures no bullet point on individual items */
}

.hp__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  width: 10rem;
  height: 14rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
  text-align: center;
}

.hp__card:hover {
  transform: scale(1.05);
}

.hp__card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #394936;
  margin-bottom: 0.5rem;
}

.hp__card-image {
  width: 80px;
  height: 80px;
  margin-bottom: 0.5rem;
}

.hp__card-type {
  font-size: 0.9rem;
  font-weight: 600;
  color: #a6c6e9;
}

/* Copyright */

.copyright {
  position: fixed;

  left: 10px;
  bottom: 10px;
}

/* Spinner */
.loading-text {
  font-size: 1.5rem; /* Adjust font size as needed */
  position: relative; /* Position to create absolute dots */
  color: var(--color-blue);
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Add a semi-transparent background */
  border-radius: 0.5rem; /* Optional: Add border radius for aesthetics */
  padding: 1rem; /* Add some padding */
}

.spinner-icon {
  width: 2rem; /* Adjust size of the spinner icon */
  height: 2rem; /* Adjust size of the spinner icon */

  fill: #394936; /* Set a specific color for visibility */
  animation: rotate 2s infinite linear;
  z-index: 1000;
}

.loading-text {
  font-size: 1.5rem; /* Adjust font size as needed */
  font-family: var(--text-arcade);
}

/* Rotate animation for the spinner */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Bottom */
.hidden {
  display: none;
}
